@model MvcMarked.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <img src="@(Model.Link)" alt="" height=200 />
    <hr />

    

    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Link)
            </dt>*@
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @if (Model.UserName == User.Identity.Name)
    {
        <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a>
    }
     |
    <a asp-action="Index">Back to List</a>
</div>
